@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginModel

@{
    ViewData["Title"] = App.Resources.WebApp.Areas.Identity.Pages.Account.Login.PageTitle;
}

<h1 class="text-center">@App.Resources.WebApp.Areas.Identity.Pages.Account.Login.PageTitle</h1>
<div class="row justify-content-around">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2 class="text-center">@App.Resources.WebApp.Areas.Identity.Pages.Account.Login.UseALocalAccountToLogIn</h2>
                <hr/>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="username"/>
                    <label asp-for="Input.UserName" class="form-label"></label>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password"/>
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe"/>
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">@App.Resources.WebApp.Areas.Identity.Pages.Account.Login.LoginSubmit</button>
                </div>
                <div>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@App.Resources.WebApp.Areas.Identity.Pages.Account.Login.RegisterAsNewUser</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}