@model IEnumerable<Domain.PlaylistVideo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Playlist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemovedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemovedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaylistId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemovedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedById)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemovedById)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
