@model IEnumerable<App.Domain.QueueItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Platform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdOnPlatform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monitor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Download)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebHookUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebhookSecret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebhookData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Playlist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOnPlatform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monitor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Download)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebHookUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebhookSecret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebhookData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedById)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedById)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaylistId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
