@using Base.WebHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.Areas.Admin.ViewModels.QueueItemsApprovalViewModel

@{
    ViewBag.Title = "Queue items approval";
}

<h2 class="text-center mb-3">Queue items awaiting approval</h2>
@foreach (var queueItem in Model.QueueItems)
{
    <div class="dashboard-item">
        @queueItem.EntityType on platform @queueItem.Platform
        Id on platform: @queueItem.IdOnPlatform
        Added at: @queueItem.AddedAt.ToSpan(Context)
        Added by: @queueItem.AddedBy.UserName
        ID: @queueItem.Id
        <form method="post" asp-action="DeleteQueueItem">
            <input type="hidden" name="id" value="@queueItem.Id"/>
            <input type="submit" class="btn btn-danger" value="Delete"/>
        </form>
        <form method="post" asp-action="ApproveQueueItem">
            <input type="hidden" name="id" value="@queueItem.Id"/>
            <label for="grantAccess">Grant submitter access?</label>
            <input type="checkbox" name="grantAccess" id="grantAccess" checked="checked"/>
            <input type="submit" class="btn btn-danger" value="Approve"/>
        </form>
    </div>
}