@using Base.WebHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.Areas.Admin.ViewModels.QueueItemsApprovalViewModel

@{
    ViewBag.Title = App.Resources.WebApp.Areas.Admin.Views.QueueItemsApproval.Index.PageTitle;
}

<h2 class="text-center mb-3">@App.Resources.WebApp.Areas.Admin.Views.QueueItemsApproval.Index.ExplainingTitle</h2>
@foreach (var queueItem in Model.QueueItems)
{
    <div class="dashboard-item">
        @string.Format(App.Resources.WebApp.Areas.Admin.Views.QueueItemsApproval.Index.EntityOnPlatform, Html.Translate(queueItem.EntityType), Html.Translate(queueItem.Platform))
        @Html.DisplayNameFor(m => m.QueueItems[0].IdOnPlatform): @queueItem.IdOnPlatform
        @Html.DisplayNameFor(m => m.QueueItems[0].AddedAt): @queueItem.AddedAt.ToSpan(Context)
        @Html.DisplayNameFor(m => m.QueueItems[0].AddedBy): @queueItem.AddedBy.UserName
        <form method="post" asp-action="DeleteQueueItem">
            <input type="hidden" name="id" value="@queueItem.Id"/>
            <input type="submit" class="btn btn-danger" value="@App.Resources.WebApp.Areas.Admin.Views.QueueItemsApproval.Index.DeleteSubmit"/>
        </form>
        <form method="post" asp-action="ApproveQueueItem">
            <input type="hidden" name="id" value="@queueItem.Id"/>
            <label for="grantAccess">@App.Resources.WebApp.Areas.Admin.Views.QueueItemsApproval.Index.GrantAccess</label>
            <input type="checkbox" name="grantAccess" id="grantAccess" checked="checked"/>
            <input type="submit" class="btn btn-success" value="@App.Resources.WebApp.Areas.Admin.Views.QueueItemsApproval.Index.ApproveSubmit"/>
        </form>
    </div>
}