@model Domain.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPublic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPublic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupportsAuthors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupportsAuthors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupportsVideos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupportsVideos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupportsPlaylists)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupportsPlaylists)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAssignable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAssignable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Platform)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Platform)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
