@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Base.WebHelpers
@model WebApp.ViewModels.CategoryEditViewModel

@{
    ViewBag.Title = App.Resources.WebApp.Views.Category.Edit.PageTitle;
}

<h2>@App.Resources.WebApp.Views.Category.Edit.PageTitle</h2>

<div>
    <form >
        <partial name="_CategoryFormPartial" model="Model"/>
        <input type="submit" class="btn btn-primary" value="@App.Resources.WebApp.Views.Category.Edit.Submit"/>
    </form>
    <a asp-action="Details" asp-route-id="@Model.Id">@App.Resources.WebApp.Views.Category.Edit.Details</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.GetFullPath()">@App.Resources.WebApp.Views.Category.Edit.Delete</a>
</div>