@using Base.WebHelpers
@using WebApp.Authorization
@model WebApp.ViewModels.CategoryManageEntityCategoriesViewModel

@{
    ViewBag.Title = string.Format(App.Resources.WebApp.Views.Category.ManageEntityCategories.PageTitlePersonal, Model.EntityType);
}

<h2>@string.Format(App.Resources.WebApp.Views.Category.ManageEntityCategories.PageTitlePersonal, Model.EntityType)</h2>

<a class="btn btn-outline-primary" href="@Model.ReturnUrl">@App.Resources.WebApp.Views.Category.ManageEntityCategories.Return</a>
<a class="btn btn-outline-primary" asp-action="Create" asp-route-returnUrl="@Context.GetFullPath()">@App.Resources.WebApp.Views.Category.ManageEntityCategories.CreateNew</a>
@if (User.IsAllowedToCreatePublicCategory())
{
    <a class="btn btn-outline-primary" asp-action="ManageEntityCategoriesPublic" asp-route-returnUrl="@Model.ReturnUrl" asp-route-id="@Model.Id" asp-route-entityType="@Model.EntityType">
        @App.Resources.WebApp.Views.Category.ManageEntityCategories.ManagePublicCategories
    </a>
}

<div>
    <form method="post" asp-action="ManageEntityCategories">
        <partial name="_ManageEntityCategoriesPartial" model="Model"/>
    </form>
</div>