@model Domain.AuthorPubSub

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AuthorPubSub</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeasedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeasedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaseDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaseDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Secret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Secret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
