@model WebApp.ViewModels.LangStringFormSectionPartialViewModel

<div>
    <label for="@Identifier">@Model.Culture:</label>
    <input type="text" disabled="@Model.Disabled" name="@Identifier" id="@Identifier" value="@Model.Value"/>
</div>

@functions
{
    string Identifier => $"{Model.ParamName}[{Model.Culture}]";
}
