@using Base.WebHelpers
@model List<App.BLL.DTO.Entities.BasicVideoWithAuthor>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(v => v[0].Title)</th>
            <th>@Html.DisplayNameFor(v => v[0].Author)</th>
            <th>@Html.DisplayNameFor(v => v[0].Thumbnail)</th>
            <th>@Html.DisplayNameFor(v => v[0].Duration)</th>
            <th>@Html.DisplayNameFor(v => v[0].CreatedAt)</th>
            <th>@Html.DisplayNameFor(v => v[0].AddedToArchiveAt)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var video in Model)
        {
            <tr>
                <td>
                    <a asp-action="Watch" asp-route-id="@video.Id">@video.Title</a>
                </td>
                <td>
                    <partial name="_AuthorSummaryPartial" model="@video.Author"/>
                </td>
                <td>
                    @if (video.Thumbnail?.LocalFilePath != null)
                    {
                        <div class="image-load-container" width="160" height="90" alt="@App.Resources.WebApp.Views.Shared._VideoResultsPartial.ThumbnailAltText" src="/@video.Thumbnail.LocalFilePath"></div>
                    }
                    else
                    {
                        <div>@App.Resources.WebApp.Views.Shared._VideoResultsPartial.NoThumbnails</div>
                    }
                </td>
                <td>
                    @video.Duration
                </td>
                <td>
                    @Context.SpanFor(video.PublishedAt ?? video.CreatedAt)
                </td>
                <td>
                    @Context.SpanFor(video.AddedToArchiveAt)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>