@model Domain.CommentReplyNotification

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CommentReplyNotification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reply)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReplyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receiver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveredAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveredAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
