@using WebApp.ViewModels
@using WebApp.Controllers
@using Base.WebHelpers
@using App.BLL.DTO.Entities
@model WebApp.ViewModels.VideoSearchViewModel

@{
    ViewBag.Title = App.Resources.WebApp.Views.Video.Search.PageTitle;
}

<form method="get">
    <label asp-for="NameQuery"></label>
    <input asp-for="NameQuery"/>
    <label asp-for="AuthorQuery"></label>
    <input asp-for="AuthorQuery"/>
    <label asp-for="SortingOptions"></label>
    <select asp-for="SortingOptions" asp-items="@(Html.GetLocalizedEnumSelectList<EVideoSortingOptions>(Model.SortingOptions))"></select>
    <label asp-for="Descending"></label>
    <input asp-for="Descending"/>
    <partial name="_CategoryPickerPartial" model="@Model.CategoryPickerViewModel" />
    <input type="submit" class="btn btn-primary" value="@App.Resources.WebApp.Views.Video.Search.SubmitSearch"/>
</form>

<partial name="_PaginationUiPartial" model="@PaginationViewModel"/>

<partial name="_VideoResultsPartial" model="@Model.Videos"/>

@functions
{
    PaginationUiPartialViewModel PaginationViewModel => new()
    {
        ControllerName = nameof(VideoController),
        ActionName = nameof(VideoController.Search),
        RouteValues = Context.GetRouteValues(),
        LimitParamName = nameof(Model.Limit),
        PageParamName = nameof(Model.Page),
        Limit = Model.Limit,
        Page = Model.Page,
        Total = null,
        AmountOnPage = Model.Videos.Count,
    };
}
