@model App.Domain.VideoGame

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VideoGame</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Video)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IgdbId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IgdbId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Platform)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Platform)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOnPlatform)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOnPlatform)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoxArtUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoxArtUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromTimecode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromTimecode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToTimecode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToTimecode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidSince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidSince)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidUntil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidUntil)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
