@model WebApp.Areas.Admin.ViewModels.UserManagementViewModel

@{
    ViewBag.Title = App.Resources.WebApp.Areas.Admin.Views.UserManagement.Index.PageTitle;
}

<h2 class="text-center mb-3">@App.Resources.WebApp.Areas.Admin.Views.UserManagement.Index.PageTitle</h2>

<form method="get" asp-action="Index">
    <label asp-for="NameQuery"></label>
    <input asp-for="NameQuery" value="@Model.NameQuery"/>
    <label asp-for="IncludeOnlyNotApproved"></label>
    <input asp-for="IncludeOnlyNotApproved" checked="@Model.IncludeOnlyNotApproved"/>
    <input type="submit" class="btn btn-primary" value="@App.Resources.WebApp.Areas.Admin.Views.UserManagement.Index.Search"/>
</form>

@foreach (var user in Model.Users)
{
    <div id="manage-@user.UserName" class="dashboard-item">
        @user.UserName<br/>
        @if (!user.IsApproved)
        {
            <form id="approve-@user.UserName" asp-action="ApproveRegistration">
                @Html.Hidden("id", user.Id)
                @Html.HiddenFor(m => m.NameQuery)
                @Html.HiddenFor(m => m.IncludeOnlyNotApproved)
                <input type="submit" class="btn btn-success" value="@App.Resources.WebApp.Areas.Admin.Views.UserManagement.Index.ApproveRegistration"/>
            </form>
        }
        <a asp-action="ManageRoles" asp-route-userId="@user.Id" class="btn btn-outline-primary">@App.Resources.WebApp.Areas.Admin.Views.UserManagement.Index.ManageRoles</a>
    </div>
}