@model Domain.ExternalUserToken

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExternalUserToken</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessToken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessToken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefreshToken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefreshToken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiresIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiresIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssuedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssuedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scope)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scope)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TokenType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TokenType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
